<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<body>

    <div th:fragment="comment_cards(comments,user,workout)">

        <div th:if="${#lists.isEmpty(comments)}">
            There are no comments yet.
        </div>
        <div th:unless="${#lists.isEmpty(comments)}" class="px-5 mt-3" style="text-align: center;">
            <h5 style="text-align: left;" class="mb-4">Comments</h5>
            <div th:each="comment : ${comments}" class="card mb-3 w-75">
                <div class="card-header d-flex justify-content-between">
                    <a th:class="${comment.author.accountType == T(de.othr.sw.pumpal.entity.AccountType).ADMIN ? 'btn btn-warning' : ''}"
                       th:href="@{/profile/{id}(id = ${comment.author.email})}"
                       th:text="${comment.author.email}"></a>
                    <label th:text="${#dates.format(comment.date, 'dd-MM-yyyy HH:mm')}"></label>
<!--                    ziemlich unelegant gelöst, auf die Schnelle aber kein besserer Weg eingefallen-->
<!--                    TODO: Button Anordnung besser machen-->
                    <div th:if="${comment.author.email == user.email || workout.author.email == user.email || user.accountType.name() == 'ADMIN'}">
                        <form method="POST" th:action="@{/workout/{workoutId}/deleteComment/{commentId}(workoutId=${workout.id},commentId=${comment.id})}">
                            <button type="submit" class="btn btn-danger">X</button>
                        </form>
                    </div>

                </div>
                <ul class="list-group list-group-flush">
                    <li th:text="${comment.description}" class="list-group-item" style="text-align: left;"></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>