<!DOCTYPE html>
<html lang="en">

<head th:replace="partials/header :: header(~{::title})">
    <title>Welcome to pumpal</title>
</head>

<body>
    <div th:replace="partials/header :: navigation"/>

    <div class="pt-4 container">

        <!-- Successfully logged in alert-->
        <div th:if="${param.success}" class="pt-5 mt-5">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                You have succesfully logged in.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- Successfully logged out alert-->
        <div th:if="${param.logout}" class="pt-5 mt-5">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                You have succesfully logged out.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div class="row py-4">  <!--  style="background-color: #F08080" -->
            <div class="pt-5 col-xl-6">

                <h1>welcome to pumpal!</h1>
                <p th:text="${workoutDTO.getId()}"></p>
                <p th:text="${workoutDTO.getTitle()}"></p>
                <p th:text="${workoutDTO.getDescription()}"></p>

                <div th:replace="partials/user-table :: user_table(users=${friendsDto})"/>

                <p class="pt-4"> test test testtesttetstetstteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    testtesttetstetstteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee testtesttetstetstteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                    testtesttetstetstteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
            </div>
            <div class="pt-5 col-xl-6"><img th:src="@{images/undraw_personal_trainer_re_cnua.svg}" class="img-fluid"></div>
        </div>
        <div class="row pt-4">
            <button class="col-sm btn btn-danger rounded border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">what is pumpal?</button>
            <button class="col-sm btn btn-danger rounded border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">who is pumpal aiming at?</button>
            <button class="col-sm btn btn-danger rounded border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">why should i use pumpal?</button>
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="collapse1">
                    <div class="card card-body">
                        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="collapse2">
                    <div class="card card-body">
                        Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="collapse3">
                    <div class="card card-body">
                        Some placeholder content for the third collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="px-4 pt-5 mt-3 pb-3">Newly added workouts:</h3> <!-- the five newest workouts in a table, maybe an own fragment? for reusability-->
            <div class="d-flex justify-content-md-end mb-5">
                <a href="/workout" class="mb-0 me-4">Show all</a>
            </div>
        <div class="container row mb-4">
            <div class="card">
                <div class="card-body p-4">
                    <div th:replace="partials/workout-table :: workout_table(workouts=${workouts})"/>
                </div>
            </div>
        </div>
    </div>




</body>
</html>