<!DOCTYPE html>
<html lang="en">

<head th:replace="partials/header :: header(~{::title})">
    <title>Welcome to pumpal</title>
</head>

<body>
    <div th:replace="partials/header :: navigation"/>

    <div class="pt-4 container">

        <!-- Exception alert -->
        <div th:if="${param.error}" class="pt-5 mt-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                The workout/user you tried to access does not exist. Try another one.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

<!--        Access error-->
        <div th:if="${param.accessError}" class="pt-5 mt-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                You do not have permission to view this workout. Try another one.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- REST error alert -->
        <div th:if="${param.restError}" class="pt-5 mt-5">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Something went wrong! User profiles are down at the moment. Try later again and check out some workouts in the meantime!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>


        <!-- Successfully logged in alert-->
        <div th:if="${param.success}" class="pt-5 mt-5">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                You have successfully logged in.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- Successfully logged out alert-->
        <div th:if="${param.logout}" class="pt-5 mt-5">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                You have successfully logged out.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

<!--        Header, description and image section-->
        <div class="row pt-4">  <!--  style="background-color: #F08080" -->
            <div class="pt-5 mt-3 col-xl-6">

                <h1>Welcome to pumpal!</h1>


<!--                Rest Test-->

<!--                <p th:text="${workoutDTO.getId()}"></p>-->
<!--                <p th:text="${workoutDTO.getTitle()}"></p>-->
<!--                <p th:text="${workoutDTO.getDescription()}"></p>-->

                <p class="ms-4 pt-5 mt-5 mb-4 fs-5">
                    You want to keep track of your favorite gym routines and find some new exercise inspiration
                    by browsing through other motivated athlete's workouts? Or are you just searching for
                    a platform, that supports you and your gym buddies share training plans among each other? Or are you still
                    seeking like-minded people in order to push each other further and further?
                </p>
                <p class="ms-4 fs-5 pt-4">
                    You've come to the right website then! Pumpal offers you all this and even more! Check some more information out or sign up now:
                </p>
            </div>
            <div class="pt-5 mt-3 col-xl-6"><img th:src="@{images/undraw_personal_trainer_re_cnua.svg}" class="img-fluid"></div>
        </div>

<!--        Collapse button section-->
        <div class="row pt-4">
            <button class="col-sm btn btn-danger rounded border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">what is pumpal?</button>
            <button class="col-sm btn btn-danger rounded border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">who is pumpal aiming at?</button>
            <button class="col-sm btn btn-danger rounded border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">why should i use pumpal?</button>
        </div>

<!--        Collapse content-->
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="collapse1">
                    <div class="card card-body">
                        Pumpal is THE application to track your workouts, get inspired by other user's workouts and push yourself beyond your limits. Befriend like-minded people and support each other by sharing your knowledge and fitness routines.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="collapse2">
                    <div class="card card-body">
                        Pumpal is for everyone in need of a workout tracker or new inspiring exercises. We want to give people with ambitions the chance to exchange their workout plans and help others grow beyond themselves this way.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="collapse3">
                    <div class="card card-body">
                        Because Pumpal will give you opportunities you'll never have dreamt of! Check it yourself out and sign up now!
                    </div>
                </div>
            </div>
        </div>

<!--        Workout insight section-->
        <div class="row pt-5 mt-3">
            <h3 class="px-4 pt-5 mt-3 pb-3">Latest workouts:</h3> <!-- the five newest workouts in a table, maybe an own fragment? for reusability-->
            <div class="d-flex justify-content-md-end mb-5">
                <a th:href="@{/workout/all}" class="mb-0 me-4">Show all</a>
            </div>
            <div class="container row mb-4">
                <div class="card">
                    <div class="card-body p-4">
                        <div th:replace="partials/workout-table :: workout_table(workouts=${workouts})"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>