<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head th:replace="partials/header :: header(~{::title})">
    <title>Login</title>
</head>

<body>
    <div th:replace="partials/header :: navigation"/>

    <!-- stark an https://mdbootstrap.com/docs/standard/extended/login/#section-5 als Vorlage orientiert-->

    <section class="pt-5 mt-5 px-5">
        <div class="container-fluid">
            <div class="row">

<!--                Login error alert-->
                <div th:if="${param.error}">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                            Something went wrong! You may not have an account yet or entered the wrong password.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

<!--                Image -->
                <div class="col-xl-6 px-4">
                    <img th:src="@{images/undraw_working_out_re_nhkg.svg}" class="img-fluid">
                </div>

<!--                Login form section-->
                <div class="col-xl-6">
                    <div class="d-flex align-items-center ps-4">
                        <form th:action="@{/login}" method="post">
                            <h3 class="mb-3 pb-3">Log in</h3>

                            <div class="mb-4">
                                <input type="email" id="logEmail" name="username" class="form-control form-control-lg">
                                <label class="form-label" for="logEmail">Email address</label>
                            </div>

                            <div class="mb-4">
                                <input type="password" id="logPassword" name="password" class="form-control form-control-lg">
                                <label class="form-label" for="logPassword">Password</label>
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-danger btn-lg btn-block" type="submit">Login</button>
                            </div>

                            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                            <p>Don't have an account? <a href="/registration" class="link-info">Register here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>