<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">>

<head th:replace="partials/header :: header(~{::title})">
  <title>Your profile</title>
</head>
<body>
  <div th:replace="partials/header :: navigation"/>

  <section class="h-100 pt-5 mt-5">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card">
            <div class="rounded-top d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px; z-index: 1">

                <!-- Display this if it's the authenticated user's page; maybe  -->
                <!-- Go to profile/edit page  -->
                <a th:if="${#httpServletRequest.requestURI == '/profile' || #httpServletRequest.requestURI == '/profile/'}" th:href="@{profile/edit}" role="button" class="btn btn-outline-dark"
                        data-mdb-ripple-color="dark" style="z-index: 1;">
                        Edit profile
                </a>

                  <!--   Possible  Buttons  -->

                  <!--     static modal, ask if you want to send it: no->close the modal; yes->friendship create inactive+redirect to this same page         -->
                  <!--     th:unless="${#httpServletRequest.requestURI == '/profile'}"-->
              <button th:if="${friends == false &&
                            friendRequested == false &&
                            friendRequesting == false}" type="button" class="btn btn-outline-dark"
                            data-bs-toggle="modal" data-bs-target="#sendFriendReq" data-mdb-ripple-color="dark" style="z-index: 1;">
                  Send Friend Request
              </button>


              <button th:if="${friends == false &&
                            friendRequested == true &&
                            friendRequesting == false}" type="button" class="btn btn-outline-dark"
                            data-bs-toggle="modal" data-bs-target="#requestedFriend" data-mdb-ripple-color="dark" style="z-index: 1;">
                  Pending Friend Request
              </button>

              <button th:if="${friends == false &&
                            friendRequested == false &&
                            friendRequesting == true}" type="button" class="btn btn-outline-dark"
                            data-bs-toggle="modal" data-bs-target="#requestingFriend" data-mdb-ripple-color="dark" style="z-index: 1;">
                  Accept/Deny Friend Request
              </button>


              <button th:if="${friends == true &&
                            friendRequested == false &&
                            friendRequesting == false}" type="button" class="btn btn-outline-dark"
                            data-bs-toggle="modal" data-bs-target="#removeFriend" data-mdb-ripple-color="dark" style="z-index: 1;">
                  Remove Friend
              </button>



                  <!-- Possible Modals referenced by buttons -->

                  <div class="modal fade" id="sendFriendReq" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Send Friend Request</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  Do you want to send a friend request to <span style="font-weight: bold;" th:text="${user.email}"></span>?
                              </div>
                              <div class="modal-footer">
                                  <form method="POST" th:action="@{/profile/{id}(id=${user.email})}">
                                      <button type="submit" class="btn btn-secondary">Yes</button>
                                  </form>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="requestedFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Pending Friend Request</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  You already sent <span style="font-weight: bold;" th:text="${user.email}"></span> a friend request.
                                  Do you want to withdraw the friend request?
                              </div>
                              <div class="modal-footer">
                                  <form method="POST" th:action="@{/profile/{id}(friendRequested=${friendRequested},id=${user.email})}">
                                      <button type="submit" class="btn btn-secondary">Yes</button>
                                  </form>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="requestingFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Accept/deny the friend request</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  The user <span style="font-weight: bold;" th:text="${user.email}"></span> has sent you a friend request.
                                  Do you want to accept or deny the friend request?
                              </div>
                              <div class="modal-footer">
                                  <form method="POST" th:action="@{/profile/{id}(accept=${friendRequesting},id=${user.email})}">
                                      <button type="submit" class="btn btn-secondary">Accept</button>
                                  </form>
                                  <form method="POST" th:action="@{/profile/{id}(deny=${friendRequesting},id=${user.email})}">
                                      <button type="submit" class="btn btn-secondary">Deny</button>
                                  </form>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Not now</button>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="modal fade" id="removeFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Remove Friend</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  You and <span style="font-weight: bold;" th:text="${user.email}"></span> are friends at the time.
                                  Do you want to remove <span style="font-weight: bold;" th:text="${user.email}"></span> from your friends?
                              </div>
                              <div class="modal-footer"> <!-- friedns should be true -> send as parameter-->
                                  <form method="POST" th:action="@{/profile/{id}(friends=${friends},id=${user.email})}">
                                      <button type="submit" class="btn btn-secondary">Yes</button>
                                  </form>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
              <div class="ms-3 text-white" style="margin-top: 130px;">
                <h5 th:text="${user.firstName + ' ' + user.name}"></h5>
                <p th:text="${user.email}"></p>
              </div>
            </div>

            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">253</p>
                  <p class="small text-muted mb-0">Workouts</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-muted mb-0">Friends</p>
                </div>
<!--                <div>-->
<!--                  <p class="mb-1 h5">478</p>-->
<!--                  <p class="small text-muted mb-0">Following</p>          saved workouts?-->
<!--                </div>-->
              </div>
            </div>


            <div class="card-body p-4 text-black">
              <div class="mb-5">
<!--                <p class="lead fw-normal mb-1">About me</p>-->
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1" th:if="${#strings.isEmpty(user.description)}">There is no description.</p>
                  <p class="font-italic mb-1" th:unless="${#strings.isEmpty(user.description)}"></p>
                  <p class="font-italic mb-1"></p>
                  <p class="font-italic mb-0"></p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent photos</p>
                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
              </div>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" href="#workouts" id="workout-tab" data-bs-toggle="tab" data-bs-target="#workoutsPanel" type="button" role="tab" aria-controls="workouts" aria-selected="true">Workouts</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" href="#friends" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friendsPanel" type="button" role="tab" aria-controls="friends" aria-selected="false">Friends</button>
                </li>
<!--                  maybe Private own workouts? Only visibile when /profile invoked;-->
                <li class="nav-item" role="presentation">
                  <button class="nav-link" href="#idk" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contactPanel" type="button" role="tab" aria-controls="contact" aria-selected="false">Idk</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="workoutsPanel" role="tabpanel" aria-labelledby="workout-tab">
                  <div th:replace="partials/workout-table :: workout_table(workouts=${workouts})"/>
                </div>
                <div class="tab-pane fade" id="friendsPanel" role="tabpanel" aria-labelledby="friends-tab">
                    <div th:replace="partials/user-table :: user_table(users=${friends1})"/>
                </div>
                <div class="tab-pane fade" id="contactPanel" role="tabpanel" aria-labelledby="contact-tab">Here will be all saved workouts(?)</div>
              </div>

                <!-- idee: bei eigenem Profil: noch extra Reiter/Bereich mit privaten eigenen Workouts, saved workouts, ausstehenden/eingehenden Freundesanfragen-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
      jQuery(document).ready(function ($) {
          let selectedTab = window.location.hash;
          $('.nav-link[href="' + selectedTab + '"]' ).trigger('click');
      })
  </script>

</body>
</html>