<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head th:replace="partials/header :: header(~{::title})">
    <title>Edit your profile</title>
</head>
<body>
<div th:replace="partials/header :: navigation"/>

<!--  Layout stark angelehnt an https://mdbootstrap.com/docs/standard/extended/profiles/#section-6-->


<section class="h-100 pt-5 mt-5">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card">
                    <div class="rounded-top d-flex flex-row" style="background-color: rgb(184,13,41); height:200px;">
                        <!--                Image, Button and modal section-->
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="../../images/undraw_male_avatar_white.svg"
                                 alt="Generic placeholder image" class="rounded-circle img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">


                        </div>
                        <div class="ms-3 text-white" style="margin-top: 130px;">
                            <h5 th:text="${user.firstName + ' ' + user.name}"></h5>
                            <p th:text="${user.email}"></p>
                        </div>
                    </div>
                    <div class="p-4 text-black">
                        <div class="d-flex justify-content-end text-center py-1">
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <!-- Form Section -->
                                <form th:action="@{/profile}" th:object="${user}" method="post">

                                    <h4>Want to add a description of yourself and your motivation as well as your fitness goals?</h4>

                                    <div class="row mb-5 mt-3">
                                        <div class="col-sm-10">
                                            <textarea class="form-control" maxlength="250" th:field="*{description}" th:value="*{description} ?: ''" id="description" rows="3"></textarea>
                                            <label for="description" class="col-sm-2 col-form-label mb-3">Description</label>
                                        </div>
                                    </div>

                                    <h4>Personal information</h4>

                                    <div class="row mt-3">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group">
                                                <input type="text" th:field="*{firstName}" maxlength="35" th:value="*{firstName}" id="regFirstName" class="form-control" required>
                                                <label class="form-label" for="regFirstName">First name</label>
                                                <p class="text-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group">
                                                <input type="text" th:field="*{name}" maxlength="35" th:value="*{name}" id="regLastName" class="form-control" required>
                                                <label class="form-label" for="regLastName">Last name</label>
                                                <p class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-9 mb-4">
                                                <div class="form-group">
                                                    <input type="text" th:field="*{address.street}" maxlength="100" th:value="*{address.street}" id="regStreet" class="form-control" required>
                                                    <label class="form-label" for="regStreet">Street</label>
                                                    <p class="text-danger" th:errors="*{address.street}" th:if="${#fields.hasErrors('address.street')}"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-4">
                                                <div class="form-group">
                                                    <input type="text" th:field="*{address.streetNumber}" maxlength="10" th:value="*{address.streetNumber}" id="regStreetNum" class="form-control" required>
                                                    <label class="form-label" for="regStreetNum">Street number</label>
                                                    <p class="text-danger" th:errors="*{address.streetNumber}" th:if="${#fields.hasErrors('address.streetNumber')}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <input type="text" th:field="*{address.zip}" th:value="*{address.zip}" maxlength="10" id="regZIP" class="form-control" pattern="[0-9]+" placeholder="12345" required>
                                            <label class="form-label" for="regZIP">ZIP code</label>
                                            <p class="text-danger" th:errors="*{address.zip}" th:if="${#fields.hasErrors('address.zip')}"></p>
                                        </div>

                                        <div class="mb-4">
                                            <input type="text" th:field="*{address.city}" th:value="*{address.city}" maxlength="100" id="regCity" class="form-control" required>
                                            <label class="form-label" for="regCity">City</label>
                                            <p class="text-danger" th:errors="*{address.city}" th:if="${#fields.hasErrors('address.city')}"></p>
                                        </div>
                                    </div>

<!--                                    Button section-->
                                    <div class="d-flex justify-content-end pt-3">
<!--                                        Buttons -->
                                        <button type="button" class="btn btn-outline-dark me-3"
                                                data-bs-toggle="modal" data-bs-target="#cancelEdit" style="z-index: 1;">
                                            Cancel edit
                                        </button>
                                        <button type="button" class="btn btn-secondary me-3"
                                                data-bs-toggle="modal" data-bs-target="#reverseChanges" style="z-index: 1;">
                                            Reverse Changes
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                data-bs-toggle="modal" data-bs-target="#saveChanges" style="z-index: 1;">
                                            Save form
                                        </button>

                                        <!-- Modals -->
                                        <div class="modal fade" id="cancelEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Cancel edit</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Do you want to cancel the edit and return to your profile?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a role="button" th:href="@{/profile}" class="btn btn-danger">Yes</a>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="saveChanges" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Save changes</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Do you really want to save the changes you made?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger">Yes</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="reverseChanges" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Reverse changes</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Do you really want to reverse the changes and keep editing your profile?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a role="button" th:href="@{/profile/edit}" class="btn btn-danger">Yes</a>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>