<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:replace="partials/header :: header(~{::title})">
  <title>Your profile</title>
</head>
<body>
  <div th:replace="partials/header :: navigation"/>

  <section class="h-100 pt-5 mt-5">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card">
<!--              rgba(42,23,76,0.3) hellgrau-->
            <div class="rounded-top d-flex flex-row" style="background-color: rgb(184,13,41); height:200px;">

<!--                Image, Button and modal section-->
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="../../images/undraw_male_avatar_323b.svg"
                     alt="Generic placeholder image" class="rounded-circle img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px; z-index: 1">

<!--                  Possible Admin Display-->
                  <button sec:authorize="hasAuthority('ADMIN')" th:if="${#httpServletRequest.requestURI != '/profile'}" type="button" class="btn btn-outline-dark"
                          data-bs-toggle="modal" data-bs-target="#requestingFriend" style="z-index: 1;">
                      Delete user
                  </button>


                <!-- Regular User display  -->

                  <button sec:authorize="hasAuthority('USER')" th:if="${friendShipStatus == 'admin'}" class="btn btn-warning"
                        style="z-index: 1;" aria-disabled="true">
                      Admin
                  </button>

                  <a sec:authorize="hasAuthority('USER')" th:if="${#httpServletRequest.requestURI == '/profile'}" th:href="@{profile/edit}" role="button" class="btn btn-outline-dark"
                     style="z-index: 1;">
                            Edit profile
                  </a>

                  <!--   Possible  Buttons  -->

                  <!--     static modal, ask if you want to send it: no->close the modal; yes->friendship create inactive+redirect to this same page         -->
                  <!--     th:unless="${#httpServletRequest.requestURI == '/profile'}"-->
                  <button sec:authorize="hasAuthority('USER')" th:if="${friendShipStatus == 'none'}" type="button" class="btn btn-outline-dark"
                            data-bs-toggle="modal" data-bs-target="#sendFriendReq" style="z-index: 1;">
                      Send Friend Request
                  </button>


                  <button sec:authorize="hasAuthority('USER')" th:if="${friendShipStatus == 'friendRequested'}" type="button" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#requestedFriend" style="z-index: 1;">
                      Pending Friend Request
                  </button>

                  <button sec:authorize="hasAuthority('USER')" th:if="${friendShipStatus == 'friendRequesting'}" type="button" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#requestingFriend" style="z-index: 1;">
                      Accept/Deny Friend Request
                  </button>


                  <button sec:authorize="hasAuthority('USER')" th:if="${friendShipStatus == 'friends'}" type="button" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#removeFriend" style="z-index: 1;">
                      Remove Friend
                  </button>



                  <!-- Possible Modals referenced by buttons -->

                  <div class="modal fade" id="sendFriendReq" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Send Friend Request</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  Do you want to send a friend request to <span style="font-weight: bold;" th:text="${user.email}"></span>?
                              </div>
                              <div class="modal-footer">
                                  <form method="POST" th:action="@{/profile/{id}(friendShipStatus='requesting', id=${user.email})}">
                                      <button type="submit" class="btn btn-danger">Yes</button>
                                  </form>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="requestedFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Pending Friend Request</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  You already sent <span style="font-weight: bold;" th:text="${user.email}"></span> a friend request.
                                  Do you want to withdraw the friend request?
                              </div>
                              <div class="modal-footer">
                                  <form method="POST" th:action="@{/profile/{id}(friendShipStatus='withdrawn',id=${user.email})}">
                                      <button type="submit" class="btn btn-danger">Yes</button>
                                  </form>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="requestingFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Accept/deny the friend request</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  The user <span style="font-weight: bold;" th:text="${user.email}"></span> has sent you a friend request.
                                  Do you want to accept or deny the friend request?
                              </div>
                              <div class="modal-footer">
                                  <form method="POST" th:action="@{/profile/{id}(friendShipStatus='accepted',id=${user.email})}">
                                      <button type="submit" class="btn btn-danger">Accept</button>
                                  </form>
                                  <form method="POST" th:action="@{/profile/{id}(friendShipStatus='denied',id=${user.email})}">
                                      <button type="submit" class="btn btn-light">Deny</button>
                                  </form>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not now</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="removeFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Remove Friend</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  You and <span style="font-weight: bold;" th:text="${user.email}"></span> are friends at the time.
                                  Do you want to remove <span style="font-weight: bold;" th:text="${user.email}"></span> from your friends?
                              </div>
                              <div class="modal-footer"> <!-- friedns should be true -> send as parameter-->
                                  <form method="POST" th:action="@{/profile/{id}(friendShipStatus='removed',id=${user.email})}">
                                      <button type="submit" class="btn btn-danger">Yes</button>
                                  </form>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>

              <div class="ms-3 text-white" style="margin-top: 130px;">
                <h5 th:text="${user.firstName + ' ' + user.name}"></h5>
                <p th:text="${user.email}"></p>
              </div>
            </div>

            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div th:if="${user.accountType.name()=='USER'}">
                  <p class="mb-1 h5" th:text="${workouts.size() + privWorkouts.size()} ?: '0'"></p>
                  <p class="small text-muted mb-0">Workouts</p>
                </div>
                <div th:if="${user.accountType.name()=='USER'}" class="px-3">
                  <p class="mb-1 h5" th:text="${friends.size()} ?: '0'"></p>
                  <p class="small text-muted mb-0">Friends</p>
                </div>
              </div>
            </div>


            <div class="card-body p-4 text-black">
              <div class="mb-5">
<!--                <p class="lead fw-normal mb-1">About me</p>-->
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1" th:text="${user.description} ?: 'There is no description.'"></p>
                  <p class="font-italic mb-1"></p>
                  <p class="font-italic mb-0"></p>
                </div>
              </div>


              <div th:if="${user.accountType.name()=='USER'}" class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Workouts and Friends</p>
              </div>

                <!-- Tab Section-->
              <ul th:if="${user.accountType.name()=='USER'}" class="nav nav-tabs" id="myTab" role="tablist">
                <!-- Public Information-->
                  <li class="nav-item" role="presentation">
                  <button class="nav-link active" href="#workouts" id="workout-tab" data-bs-toggle="tab" data-bs-target="#workoutsPanel" type="button" role="tab" aria-controls="workouts" aria-selected="true">Workouts(<span th:text="${#lists.size(workouts)} ?: '0'"></span>)</button>
                  </li>

                  <li class="nav-item" role="presentation">
                  <button class="nav-link" href="#friends" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friendsPanel" type="button" role="tab" aria-controls="friends" aria-selected="false">Friends(<span th:text="${#lists.size(friends)} ?: '0'"></span>)</button>
                  </li>

                <!-- Private Section, Only visibile when /profile invoked;-->

                  <li class="nav-item" role="presentation" th:if="${#httpServletRequest.requestURI == '/profile' || friendShipStatus == 'friends' || friendShipStatus == 'admin'}">
                  <button class="nav-link" href="#workouts-priv" id="workout-priv-tab" data-bs-toggle="tab" data-bs-target="#workoutPrivPanel" type="button" role="tab" aria-controls="contact" aria-selected="false">Private Workouts(<span th:text="${#lists.size(privWorkouts)} ?: '0'"></span>)</button>
                  </li>

                  <li class="nav-item" role="presentation" th:if="${#httpServletRequest.requestURI == '/profile'}">
                      <button class="nav-link" href="#requests-out" id="friends-out-tab" data-bs-toggle="tab" data-bs-target="#friendsOutPanel" type="button" role="tab" aria-controls="contact" aria-selected="false">Sent Friend Requests(<span th:text="${#lists.size(friendsOut)} ?: '0'"></span>)</button>
                  </li>

                  <li class="nav-item" role="presentation" th:if="${#httpServletRequest.requestURI == '/profile'}">
                      <button class="nav-link" href="#requests-in" id="friends-in-tab" data-bs-toggle="tab" data-bs-target="#friendsInPanel" type="button" role="tab" aria-controls="contact" aria-selected="false">Received Friend Requests(<span th:text="${#lists.size(friendsIn)} ?: '0'"></span>)</button>
                  </li>

                  <li class="nav-item" role="presentation" th:if="${#httpServletRequest.requestURI == '/profile' || friendShipStatus == 'friends' || friendShipStatus == 'admin'}">
                      <button class="nav-link" href="#saved-workouts" id="saved-workouts-tab" data-bs-toggle="tab" data-bs-target="#savedWorkoutsPanel" type="button" role="tab" aria-controls="contact" aria-selected="false">Saved Workouts(<span th:text="${#lists.size(savedWorkouts)} ?: '0'"></span>)</button>
                  </li>
              </ul>
              <div th:if="${user.accountType.name()=='USER'}" class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="workoutsPanel" role="tabpanel" aria-labelledby="workout-tab">
                  <div th:replace="partials/workout-table :: workout_table(workouts=${workouts})"/>
                </div>
                <div class="tab-pane fade" id="friendsPanel" role="tabpanel" aria-labelledby="friends-tab">
                    <div th:replace="partials/user-table :: user_table(users=${friends})"/>
                </div>
                  <div class="tab-pane fade" id="workoutPrivPanel" role="tabpanel" aria-labelledby="friends-tab">
                      <div th:replace="partials/workout-table :: workout_table(workouts=${privWorkouts})"/>
                  </div>
                  <div class="tab-pane fade" id="friendsOutPanel" role="tabpanel" aria-labelledby="friends-tab">
                      <div th:replace="partials/user-table :: user_table(users=${friendsOut})"/>
                  </div>
                  <div class="tab-pane fade" id="friendsInPanel" role="tabpanel" aria-labelledby="friends-tab">
                      <div th:replace="partials/user-table :: user_table(users=${friendsIn})"/>
                  </div>
                  <div class="tab-pane fade" id="savedWorkoutsPanel" role="tabpanel" aria-labelledby="friends-tab">
                      <div th:replace="partials/workout-table :: workout_table(workouts=${savedWorkouts})"/>
                  </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

<!--  URL and tab don't change when user is already on profile page but clickig on dropdown items-->
  <script>
      jQuery(document).ready(function ($) {
          let selectedTab = window.location.hash;
          $('.nav-link[href="' + selectedTab + '"]' ).trigger('click');
      })
  </script>

</body>
</html>