<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head th:replace="partials/header :: header(~{::title})">
    <title>Workouts</title>
</head>
<body>
    <div th:replace="partials/header :: navigation"/>

    <div class="mt-5 py-4 px-4 d-flex justify-content-end" style="background-color: #f8f9fa;">
        <form class="d-flex">
            <input class="form-control ms-5 me-3" style="width: 400px;" type="search" placeholder="Search for first name, last name or email of user" aria-label="Search">
            <button class="btn btn-outline-warning pe-5" type="submit">Search</button>
        </form>
    </div>

    <section class="h-100 mt-3">
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <h3 class="mb-3 pb-3">Users</h3>
                    <div class="card">
                        <div class="card-body p-4">
                            <div th:replace="partials/user-table :: user_table(users=${users})"/>
                            <footer class="panel-footer pt-3">
                                Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                                &nbsp; &nbsp; - &nbsp;
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                        <a th:href="@{'/profile/all/page/' + ${i}}">[[${i}]]</a>
                                        &nbsp; &nbsp;
                                    </span>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>