<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head th:replace="partials/header :: header(~{::title})">
    <title>Workouts</title>
</head>
<body>
    <div th:replace="partials/header :: navigation"/>


    <section class="h-100 pt-5 mt-5">
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <h3 class="mb-3 pb-3">Workouts</h3>
                    <div class="card">
                        <div class="card-body p-4">
                            <div th:replace="partials/workout-table :: workout_table(workouts=${workouts})"/>
                            <footer class="panel-footer pt-3">
                                Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                                &nbsp; &nbsp; - &nbsp;
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a th:href="@{'/workout/page/' + ${i}}">[[${i}]]</a>
                                    &nbsp; &nbsp;
                                </span>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>